include ../../mixins
+plusbox({text:'Add new note', class: ['large','white', 'addNote']})
if typeof RN.currentTrip.get('notes') !== 'undefined'
    each val, index in RN.currentTrip.get('notes')
        +notebox(val)