include ../../mixins
+plusbox({text:'Add new note', class: ['large','white', 'addNote']})
.currentNotes
    if RN.currentTrip.get('notes') !== null
        each val, index in RN.currentTrip.get('notes')
            +notebox(val)