h3 Don't be an amateur – wear a lifejacket!
p The most experienced boat anglers know that the sea demands our respect. Sea temperatures in the UK average 12⁰C, so a person overboard or a capsize is always a serious incident.
p Lifejackets protect you and your crew and buy you vital time in the water should the worst happen. You can now buy lifejackets that are smaller and lighter than ever before. There is no need to compromise your freedom, your manoeuvrability, or your personal safety.
p  There really is no excuse. Don’t be an amateur – wear a lifejacket. Find out more at
    a(href='http://www.rnli.org/respectthewater') nli.org/respectthewater
    | .
.image(data-src="about_privacy.jpg")