h3 Carry a means of calling for help and know how to use it.
p Being able to call for help is essential in an emergency – whether you fall overboard, have a leak in your boat or anything else.
p Many boats are fitted with a fixed VHF radio, but carrying a handheld VHF radio or a personal locator beacon on you means that you’ll still be able to raise the alarm if you end up in the water.
p The size and cost of all this technology has reduced significantly over the last 10 years and is now seen as a must have by all serious anglers heading out on the water.