include ../mixins
//if data.area
//- data.date = {0: data.date, 1:moment(data.date)};
.tripMap
    +tripdetails(data)
    +airsea(data)
    +map(data)
    if(Object.keys(data.notes).length)
        .section.tripNotes
            .noteheader
                .icon
                    i(class='icon-pencil') NOTES
            each val, index in data.notes
                .notetext
                    | #{val.note}

    if(data.hazard)
        .section.tripNotes
            .noteheader
                .icon
                    i(class='icon-attention') HAZARD
                .notetext
                    | #{data.hazard}
    if(Object.keys(data.catches).length)
        .section.tripCatches
            .noteheader
                .icon
                    i(class='icon-table') CATCH LOG
            each val, index in data.catches
                +catchFish({
                    attr: {class: ['previouscatchclick'], 'data-id': val.id},
                    data: {
                        height1: val.ft,
                        height2: val.ins,
                        released: function () {
                            if (val.released) {
                                return 'yes';
                            } else {
                                return 'no';
                            }
                        }(),
                        species: val.species,
                        weight1: val.lbs,
                        image: val.image,
                        weight2: val.oz
                    }
                })
    .section.tripControls
        .btn.updatetrip UPDATE TRIP
    //+tripInfo(data)
//else
//    .nodata
//        | No Data, try again
//    a(href='#currenttrip', class="btn retry") Retry