include ../mixins
if status && typeof status !== typeof undefined
    +postcodebox(result[0], {})
    //each val in result
else if(length)
    | Please enter a valid postcode
else
    | Sorry No results