include ../mixins
.tripBox
    i(class='icon-calendar')
    .text Day
        span 25 Oct 2014
.tripBox
    i(class='icon-globe')
    .text Brittany,
        span France
.tripBox
    i(class='icon-map')
    .text Lat
        span 50.35
        | Long
        span 4.35
.stars
    .starcontent
        .star.checked
        .star.checked
        .star.checked
        .star.checked
        .star