include ../mixins
if data.area
    - data.date = RN.currentTrip.get('date')[0];
    .tripMap
        +tripdetails(data)
        +map(data)
        +tripInfo(data)
    +input({type: 'hidden', value:'', name:'start', id:'start'})
    +input({type: 'hidden', value:'', name:'end', id:'end'})
else
    .nodata
        | No Data, try again
    a(href='#currenttrip', class="btn retry") Retry