include ../mixins
- var newLat = data.latitude.substr(0, 5), newLong = data.longitude.substr(0, 5);
- data.date = moment(data.date).format('MMMM Do YYYY');
.tripMap
    +tripdetails(data)
    +map(data,'plain')
    .section.large.gpscontrols
        h3  RATE YOUR TRIP
        +rating([], false, ['closedTrip'])
        button(class="saverating none") Save Rating