include ../mixins
//if data.area
- data.date = RN.currentTrip.get('date')[0];
.tripMap
    +tripdetails(data)
    +map(data)
    +tripInfo(data)
//else
//    .nodata
//        | No Data, try again
//    a(href='#currenttrip', class="btn retry") Retry