include ../mixins
form
    +input({place:'Choose a name', type: 'text', value:'', name:'name', id:'name'})
    +input({place:'Choose a date', type: 'text', value:'', name:'date', id:'dateselector'})
    +input({type: 'hidden', value:'', name:'date', id:'date'})
    +input({type: 'hidden', value:'', name:'location', id:'location'})
    .location
        h3 CURRENT LOCATION?
        .locationSelector
            .yes YES
            .no.selected NO
        button(disabled).save.btn Save
form.postcodeform
    +input({place:'Post Code', type: 'text', value:'N11 1JB', name:'postcode', icon:'search'})
.postcodearea