.safetycontrols
    .leftarrow
        i(class='icon-left-circled')
    .middletext
        span.safetynumber 1
        .safetytotal /12
    .rightarrow
        i(class='icon-right-circled')
.safetyarea Load stuff into me