include ../mixins
.safetytips
    h3 Angling
    p Take the risks as seriously as you take your sport
    a(href='#safetybrowse', class="safetyheader") Shore angling
    ol(data-type="shore")
        li Don't be an amateur – wear a lifejacket!
        li Be aware of heavy surf if fishing from the rocks or exposed shoreline.
        li Carry a means of calling for help and know how to use it.
    a(href='#safetybrowse', class="safetyheader") Boat angling
    ol(data-type="boat")
        li Don't be an amateur – wear a lifejacket!
        li Carry a means of calling for help and know how to use it.
        li Check any through-hull fittings for leaks and always have a means of plugging a hole.
    a(href='#safetybrowse', class="safetyheader") Kayak angling
    ol(data-type="kayak")
        li Always wear a personal flotation device.
        li Carry a means of calling for help and keep it within reach.
        li Check any through-hull fittings for leaks and ensure bungs and hatches are tightly secured.