include ../mixins
.safetycontrols
    img(src='img/about_donate.jpg', width="100%", class="imageContainer")
    .safetyarrow.leftarrow(data-number=previousItem, class= previousItem !== null ? "" : "disabled")
        i(class='icon-left-circled')
    .middletext
        .safetynumber #{currentView}
        .safetyseperater /
        .safetytotal #{totalNumber}
    .safetyarrow.rightarrow(data-number=nextItem, class= nextItem !== null ? "" : "disabled")
        i(class='icon-right-circled')
.safetyarea Load stuff into me