@charset "UTF-8";
/* #Config ------------------------------------------------------------------------ */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?24134951');
  src: url('../fonts/fontello.eot?24134951#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?24134951') format('woff'), url('../fonts/fontello.ttf?24134951') format('truetype'), url('../fonts/fontello.svg?24134951#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24134951#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.icon-menu:before {
  content: '\e800'; }

/* '' */
.icon-users:before {
  content: '\e801'; }

/* '' */
.icon-money:before {
  content: '\e802'; }

/* '' */
.icon-ok-circled:before {
  content: '\e803'; }

/* '' */
.icon-plus-circled:before {
  content: '\e804'; }

/* '' */
.icon-calendar:before {
  content: '\e805'; }

/* '' */
.icon-calendar-outlilne:before {
  content: '\e806'; }

/* '' */
.icon-lock-filled:before {
  content: '\e807'; }

/* '' */
.icon-clock:before {
  content: '\e808'; }

/* '' */
.icon-pencil:before {
  content: '\e809'; }

/* '' */
.icon-cog-outline:before {
  content: '\e80a'; }

/* '' */
.icon-wrench:before {
  content: '\e80b'; }

/* '' */
.icon-home-outline:before {
  content: '\e80c'; }

/* '' */
.icon-basket:before {
  content: '\e80d'; }

/* '' */
.icon-lock:before {
  content: '\e80e'; }

/* '' */
.icon-lock-open:before {
  content: '\e80f'; }

/* '' */
.icon-login:before {
  content: '\e810'; }

/* '' */
.icon-logout:before {
  content: '\e811'; }

/* '' */
.icon-left-open:before {
  content: '\e812'; }

/* '' */
.icon-globe-1:before {
  content: '\e813'; }

/* '' */
.icon-lock-open-filled:before {
  content: '\e814'; }

/* '' */
.icon-user:before {
  content: '\e815'; }

/* '' */
.icon-globe:before {
  content: '\e816'; }

/* '' */
.icon-spin3:before {
  content: '\e817'; }

/* '' */
.icon-left:before {
  content: '\e818'; }

/* '' */
.icon-user-add:before {
  content: '\e819'; }

/* '' */
.icon-search:before {
  content: '\e81a'; }

/* '' */
.icon-left-big:before {
  content: '\e81b'; }

/* '' */
.icon-map:before {
  content: '\e81c'; }

/* '' */
.icon-location:before {
  content: '\e81d'; }

/* '' */
.icon-chart-alt-outline:before {
  content: '\e81e'; }

/* '' */
.icon-chart-bar-outline:before {
  content: '\e81f'; }

/* '' */
.icon-chart-pie-outline:before {
  content: '\e820'; }

/* '' */
.icon-list-bullet:before {
  content: '\e821'; }

/* '' */
.icon-down-open:before {
  content: '\e822'; }

/* '' */
.icon-down:before {
  content: '\e823'; }

/* '' */
.icon-trash:before {
  content: '\e824'; }

/* '' */
.icon-male:before {
  content: '\e825'; }

/* '' */
.icon-female:before {
  content: '\e826'; }

/* '' */
.icon-cancel-circled:before {
  content: '\e827'; }

/* '' */
.icon-right-open:before {
  content: '\e828'; }

/* '' */
.test {
  -moz-transform: skew(25deg, 10deg);
  -o-transform: skew(25deg, 10deg);
  -ms-transform: skew(25deg, 10deg);
  -webkit-transform: skew(25deg, 10deg);
  transform: skew(25deg, 10deg);
  moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20, 20, 20, 0.5); }

/* Table of Contents
==================================================
    #Base
      #Greys
    #Links
    #Warnings
    #Borders
*/
/* Pages
==================================================
*/
/* Table of Contents
==================================================
		#Imported Fonts
    #Fonts
    #Typography
    #Blockquotes
    #Links
    #Lists
		#Images
		#Figures
		#Tables
		#File Types
		#RTL Overrides
*/
/* #Imported Fonts ------------------------------------------------------------------------ */
/* #Text shadow default effects ------------------------------------------------------------- */
/* #Page Typography ------------------------------------------------------------------------ */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Lucida Grande", sans-serif;
  color: #777777; }

a {
  color: #93979D;
  text-decoration: underline;
  outline: 0;
  font-size: 0.8rem; }

a:hover, a:focus {
  color: #F1835B;
  text-decoration: none; }

p a, p a:visited {
  line-height: inherit; }

a.selected {
  color: #F1835B; }

h1, h2, h3, h4, h5, h6 {
  color: #383A3D;
  font-weight: normal; }

.pageheading {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0 0px 0;
  margin: 0 0 20px 0;
  overflow: hidden; }

.pagesubheading {
  font-weight: normal;
  font-size: 1rem; }

.form-group {
  margin-bottom: 2.5641%; }

textarea, input, select {
  border: 1px solid #FFF;
  color: #000000;
  padding: 15px 15px;
  text-indent: 7px;
  margin: 1px auto;
  -webkit-appearance: none;
  font-weight: bold;
  display: block;
  width: 100%;
  -webkit-user-select: auto !important;
  box-shadow: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  textarea:-moz-placeholder, input:-moz-placeholder, select:-moz-placeholder {
    color: #60646a; }
  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #60646a; }
  textarea.placeholder, input.placeholder, select.placeholder {
    color: #60646a; }
  .control-group.focus textarea, textarea:focus, .control-group.focus input, input:focus, .control-group.focus select, select:focus {
    border-color: #93979D;
    box-shadow: none; }
  .row-fluid textarea, .row-fluid input, .row-fluid select {
    height: 41px;
    width: 100%; }
  textarea.flat, input.flat, select.flat {
    border-color: transparent; }
    textarea.flat:hover, input.flat:hover, select.flat:hover {
      border-color: #93979D; }
    textarea.flat:focus, input.flat:focus, select.flat:focus {
      border-color: #93979D; }
  textarea.error, .submitted textarea.ng-invalid, input.error, .submitted input.ng-invalid, select.error, .submitted select.ng-invalid {
    border-color: #e74c3c;
    color: #e74c3c;
    box-shadow: none; }
    textarea.error:focus, .submitted textarea.ng-invalid:focus, input.error:focus, .submitted input.ng-invalid:focus, select.error:focus, .submitted select.ng-invalid:focus {
      box-shadow: none; }
  textarea.success, input.success, select.success {
    border-color: #86C555;
    color: #86C555;
    box-shadow: none; }
    textarea.success:focus, input.success:focus, select.success:focus {
      box-shadow: none; }
  textarea.warning, input.warning, select.warning {
    border-color: #f1c40f;
    color: #f1c40f;
    box-shadow: none; }
    textarea.warning:focus, input.warning:focus, select.warning:focus {
      box-shadow: none; }
  .control-group.info textarea, .control-group.info input, .control-group.info select {
    border-color: #3498db;
    color: #3498db;
    box-shadow: none; }
    .control-group.info textarea:focus, .control-group.info input:focus, .control-group.info select:focus {
      box-shadow: none; }

label.error, label.error a {
  border-color: #e74c3c;
  color: #e74c3c;
  box-shadow: none; }
  label.error:focus, label.error a:focus {
    box-shadow: none; }

.control-group {
  position: relative; }
  .control-group label {
    font-size: .8em; }
    .control-group label.error, .control-group label.error a {
      border-color: #e74c3c;
      color: #e74c3c;
      box-shadow: none; }
      .control-group label.error:focus, .control-group label.error a:focus {
        box-shadow: none; }
  .control-group > .input-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 37px;
    vertical-align: middle;
    color: #e7eded;
    background-color: #ffffff;
    padding: 0 10px;
    border-radius: 6px; }
  .control-group input:focus + .input-icon {
    color: #777777; }
  .control-group.huge > .input-icon {
    line-height: 49px; }
  .control-group.large > .input-icon {
    line-height: 41px; }
  .control-group.small > .input-icon {
    line-height: 30px; }
  .control-group.success > .input-icon, .control-group.success input + .input-icon, .control-group.success .icon-right-open, .control-group.success input {
    color: #86C555; }
  .control-group.warning > .input-icon, .control-group.warning input + .input-icon, .control-group.warning .icon-right-open, .control-group.warning input {
    color: #f1c40f; }
  .control-group.error > .input-icon, .control-group.error input + .input-icon, .control-group.error .icon-right-open, .control-group.error input {
    color: #e74c3c; }
    .control-group.error > .input-icon:-moz-placeholder, .control-group.error input + .input-icon:-moz-placeholder, .control-group.error .icon-right-open:-moz-placeholder, .control-group.error input:-moz-placeholder {
      color: #a82315; }
    .control-group.error > .input-icon::-webkit-input-placeholder, .control-group.error input + .input-icon::-webkit-input-placeholder, .control-group.error .icon-right-open::-webkit-input-placeholder, .control-group.error input::-webkit-input-placeholder {
      color: #a82315; }
    .control-group.error > .input-icon.placeholder, .control-group.error input + .input-icon.placeholder, .control-group.error .icon-right-open.placeholder, .control-group.error input.placeholder {
      color: #a82315; }
  .control-group.disabled > .input-icon, .control-group.disabled input + .input-icon, .control-group.disabled .icon-right-open, .control-group.disabled input {
    color: #d3d5d7;
    background-color: #f4f4f5; }

input[disabled], textarea[disabled], select[disabled], textarea[readonly] {
  background-color: #f4f4f5;
  border-color: #d3d5d7;
  color: #d3d5d7;
  cursor: default; }

.btn, button {
  padding: 0px 0px;
  font: 300 12px/15px "Ubuntu", sans-serif;
  color: #383A3D;
  background: none;
  border: none;
  white-space: normal;
  text-transform: uppercase;
  letter-spacing: -1px;
  cursor: pointer; }
  .btn:hover, button:hover {
    color: #F1835B; }

textarea {
  height: auto;
  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0; }
  .row-fluid textarea {
    height: auto;
    width: 100% !important; }

select {
  padding-left: 0;
  color: #93979D;
  text-indent: 3px; }

input[type=checkbox] {
  padding: 6px;
  display: inline-block;
  vertical-align: middle; }
  input[type=checkbox]:checked {
    background: #000; }

form > div {
  position: relative; }
  form > div .icon-right-open {
    position: absolute;
    right: 0;
    z-index: 2;
    font-size: 1.5rem;
    padding-top: 5px; }

.btn, .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-size: 17.136px;
  /* 15px */
  font-weight: 500; }

.btn, a.btn, button {
  border: none;
  background: #000;
  color: #fff;
  display: block;
  padding: 12px 0;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  margin: 5px auto;
  width: 90%;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  box-shadow: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  .btn:hover, .btn:focus, .btn-group:focus .btn.dropdown-toggle, a.btn:hover, a.btn:focus, .btn-group:focus a.btn.dropdown-toggle, button:hover, button:focus, .btn-group:focus button.dropdown-toggle {
    background-color: #0d0d0d;
    outline: none;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s; }
  .btn:active, .btn-group.open .btn.dropdown-toggle, .btn.active, a.btn:active, .btn-group.open a.btn.dropdown-toggle, a.btn.active, button:active, .btn-group.open button.dropdown-toggle, button.active {
    background-color: #000;
    color: fade(#000, 75%);
    box-shadow: none; }
  .btn.disabled, .btn[disabled], a.btn.disabled, a.btn[disabled], button.disabled, button[disabled] {
    background-color: #000;
    color: fade(#000, 75%);
    box-shadow: none;
    opacity: .4; }
  .btn.btn-large, a.btn.btn-large, button.btn-large {
    font-size: 19.424px;
    /* 17px */
    line-height: 20px;
    padding: 12px 18px 13px; }
    .btn.btn-large > [class^="fui-"], a.btn.btn-large > [class^="fui-"], button.btn-large > [class^="fui-"] {
      top: 0; }
      .btn.btn-large > [class^="fui-"].pull-right, a.btn.btn-large > [class^="fui-"].pull-right, button.btn-large > [class^="fui-"].pull-right {
        margin-right: -2px; }

.btn-group > .btn {
  border-radius: 0;
  text-align: center; }
  .btn-group > .btn:active + .btn, .btn-group > .btn.active + .btn {
    border-left-color: transparent; }
  .btn-group > .btn:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .btn-group > .btn:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .btn-group > .btn + .btn {
    margin-left: 0; }
  .btn-group > .btn + .dropdown-toggle {
    border-left: 2px solid fade(#000, 15%);
    padding-left: 13px;
    padding-right: 13px;
    box-shadow: none; }
    .btn-group > .btn + .dropdown-toggle .caret {
      margin-left: 3px;
      margin-right: 3px; }
  .btn-group > .btn.btn-huge + .dropdown-toggle .caret {
    margin-left: 7px;
    margin-right: 7px; }
  .btn-group > .btn.btn-small + .dropdown-toggle .caret {
    margin-left: 0;
    margin-right: 0; }

#messagebox {
  height: 12%;
  min-height: 51px;
  position: absolute;
  display: block;
  width: 100%;
  border-top: 1px solid #000;
  bottom: 0;
  z-index: 9;
  background: linear-gradient(#ff7f67, #ff2901);
  -moz-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  -webkit-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%); }
  #messagebox > * {
    display: none; }
  #messagebox.good {
    background: #86C555;
    background: linear-gradient(#86C555, #6cac3b);
    color: #FFF; }
  #messagebox.bad {
    background: linear-gradient(#e74c3c, #d62c1a);
    color: #FFF; }
  #messagebox.notice {
    background: linear-gradient(#f39c12, #c87f0a);
    color: #FFF; }
  #messagebox.show {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  #messagebox .message {
    width: 100%;
    position: relative;
    display: block;
    height: 100%; }
    #messagebox .message div {
      text-align: center;
      font-size: 1.2rem;
      width: 100%;
      padding: 0 25px 0 10px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
  #messagebox .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold; }

.overlay {
  background: rgba(104, 109, 109, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 8;
  text-align: center;
  visibility: hidden;
  line-height: 1.5rem;
  opacity: 0;
  -moz-transition: opacity .3s ease .3s;
  -o-transition: opacity .3s ease .3s;
  -webkit-transition: opacity .3s ease .3s;
  transition: opacity .3s ease .3s; }
  .overlay.display {
    visibility: visible;
    opacity: 1; }
  .overlay i.icon-cancel-circled {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
    display: none; }
  .overlay .message {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .overlay img {
    display: inline-block;
    margin-bottom: 2rem;
    width: 72%; }
  .overlay .text {
    display: block;
    font-size: 1.3rem;
    color: #FFF; }

/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr; }
  .royalSlider img {
    width: 100%; }

.royalSlider > * {
  float: left; }

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0); }

.rsWebkit3d .rsSlide, .rsWebkit3d .rsContainer, .rsWebkit3d .rsThumbs, .rsWebkit3d .rsPreloader, .rsWebkit3d img, .rsWebkit3d .rsOverflow, .rsWebkit3d .rsBtnCenterer, .rsWebkit3d .rsAbsoluteEl, .rsWebkit3d .rsABlock, .rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden; }

.rsFade.rsWebkit3d .rsSlide, .rsFade.rsWebkit3d img, .rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none; }

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0; }

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

.rsArrow, .rsThumbsArrow {
  cursor: pointer; }

.rsThumb {
  float: left;
  position: relative; }

.rsArrow, .rsNav, .rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear; }

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center; }

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none; }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.royalSlider.rsAutoHeight, .rsAutoHeight .rsSlide {
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

.rsPreloader {
  position: absolute;
  z-index: 0; }

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22; }

.rsTabs {
  float: left;
  background: none !important; }

.rsTabs, .rsThumbs {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.rsVideoContainer {
  /*left: 0;
	top: 0;
	position: absolute;*/
  /*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative; }

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s; }

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1; }

.rsVideoContainer iframe, .rsVideoContainer video, .rsVideoContainer embed, .rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe, .rsVideoContainer.rsIOSVideo video, .rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px; }

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15; }

img.rsImg {
  max-width: none; }

.grab-cursor {
  cursor: url(/img/icons/grab.png) 8 8, move; }

.grabbing-cursor {
  cursor: url(/img/icons/grabbing.png) 8 8, move; }

.rsNoDrag {
  cursor: auto; }

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(/img/icons/blank.gif); }

/*
==================================================
Table of Contents
==================================================
#Global Settings
	#Footer
	#Page's inports
*/
.none {
  display: none !important; }

.left {
  float: left; }

.right {
  float: right; }

.containers {
  margin: 0 auto;
  width: 1140px; }

.row {
  overflow: hidden; }

body {
  display: block;
  overflow: hidden; }

.header {
  height: 75px;
  width: 100%;
  color: #FFF;
  text-transform: uppercase; }
  .header .left {
    font-size: 2rem;
    height: 100%;
    position: relative;
    cursor: pointer;
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%; }
    .header .left div {
      margin-top: 20px; }
  .header .middle {
    text-align: center;
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  .header .right {
    width: 15.25424%;
    float: right;
    margin-right: 0; }

.index .header, .home .header {
  display: none; }

#__bs_notify__ {
  pointer-events: none;
  opacity: .7; }

/* #Page Overrides ------------------------------------------------------------------------ */
/* Table of Contents
==================================================
    #Users
*/
.signup .header {
  background: #002664; }

.signup .termsbox {
  width: 100px;
  margin: 0 auto;
  text-align: center; }
  .signup .termsbox a {
    display: block;
    margin-top: 5px;
    text-decoration: none; }

.landingpage {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #EF8201;
  color: #FFF; }
  .landingpage a {
    height: 25%;
    width: 100%;
    position: relative;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    color: #FFF; }
    .landingpage a > div {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
      .landingpage a > div i {
        width: 15.25424%;
        float: left;
        margin-right: 1.69492%; }
      .landingpage a > div span {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%; }
      .landingpage a > div i:last-of-type {
        width: 15.25424%;
        float: right;
        margin-right: 0; }
  .landingpage .weather {
    background: #D13924; }
  .landingpage .safety {
    background: #9C1B31; }
  .landingpage .catch {
    background: #28243b; }


/*# sourceMappingURL=app/www/css/style.css.map */