@charset "UTF-8";
/* #Config ------------------------------------------------------------------------ */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?24134951");
  src: url("../fonts/fontello.eot?24134951#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?24134951") format("woff"), url("../fonts/fontello.ttf?24134951") format("truetype"), url("../fonts/fontello.svg?24134951#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24134951#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .6em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-spin3:before {
  content: '\e817'; }

/* '¯áù' */
.icon-trash:before {
  content: '\e824'; }

/* '¯áñ' */
.icon-male:before {
  content: '\e825'; }

/* '¯áÑ' */
.icon-female:before {
  content: '\e826'; }

/* '¯áª' */
.icon-ok-circled:before {
  content: '\e803'; }

/* '¯áâ' */
.icon-cancel-circled:before {
  content: '\e827'; }

/* '¯áº' */
.icon-plus-circled:before {
  content: '\e804'; }

/* '¯áä' */
.icon-menu:before {
  content: '\e800'; }

/* '¯áÇ' */
.icon-basket:before {
  content: '\e80d'; }

/* '¯áì' */
.icon-login:before {
  content: '\e810'; }

/* '¯áÉ' */
.icon-logout:before {
  content: '\e811'; }

/* '¯áæ' */
.icon-clock:before {
  content: '\e808'; }

/* '¯áê' */
.icon-left-big:before {
  content: '\e81b'; }

/* '¯áø' */
.icon-globe:before {
  content: '\e816'; }

/* '¯áû' */
.icon-list-bullet:before {
  content: '\e821'; }

/* '¯áí' */
.icon-money:before {
  content: '\e802'; }

/* '¯áé' */
.icon-down-open:before {
  content: '\e822'; }

/* '¯áó' */
.icon-search:before {
  content: '\e81a'; }

/* '¯áÜ' */
.icon-user:before {
  content: '\e815'; }

/* '¯áò' */
.icon-user-add:before {
  content: '\e819'; }

/* '¯áÖ' */
.icon-users:before {
  content: '\e801'; }

/* '¯áü' */
.icon-lock:before {
  content: '\e80e'; }

/* '¯áÄ' */
.icon-lock-filled:before {
  content: '\e807'; }

/* '¯áç' */
.icon-lock-open:before {
  content: '\e80f'; }

/* '¯áÅ' */
.icon-lock-open-filled:before {
  content: '\e814'; }

/* '¯áö' */
.icon-pencil:before {
  content: '\e809'; }

/* '¯áë' */
.icon-location:before {
  content: '\e81d'; }

/* '¯áØ' */
.icon-map:before {
  content: '\e81c'; }

/* '¯á£' */
.icon-cog-outline:before {
  content: '\e80a'; }

/* '¯áè' */
.icon-wrench:before {
  content: '\e80b'; }

/* '¯áï' */
.icon-calendar-outlilne:before {
  content: '\e806'; }

/* '¯áå' */
.icon-calendar:before {
  content: '\e805'; }

/* '¯áà' */
.icon-left-open:before {
  content: '\e812'; }

/* '¯áÆ' */
.icon-down:before {
  content: '\e823'; }

/* '¯áú' */
.icon-left:before {
  content: '\e818'; }

/* '¯áÿ' */
.icon-globe-1:before {
  content: '\e813'; }

/* '¯áô' */
.icon-chart-alt-outline:before {
  content: '\e81e'; }

/* '¯á×' */
.icon-chart-bar-outline:before {
  content: '\e81f'; }

/* '¯áƒ' */
.icon-chart-pie-outline:before {
  content: '\e820'; }

/* '¯áá' */
.icon-home-outline:before {
  content: '\e80c'; }

/* '¯áî' */
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
/* Table of Contents
==================================================
    #Base
      #Greys
    #Links
    #Warnings
    #Borders
*/
/* Table of Contents
==================================================
		#Imported Fonts
    #Fonts
    #Typography
    #Blockquotes
    #Links
    #Lists
		#Images
		#Figures
		#Tables
		#File Types
		#RTL Overrides
*/
/* #Imported Fonts ------------------------------------------------------------------------ */
@font-face {
  font-family: maysFont;
  src: url("/fonts/always_in_my_heart-webfont.woff") format("woff"), url("/fonts/always_in_my_heart-webfont.ttf") format("truetype"); }
@font-face {
  font-family: sanspro;
  src: url("/fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: sansprolight;
  src: url("/fonts/sourcesanspro-light-webfont.woff") format("woff"), url("/fonts/sourcesanspro-light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'ubuntubold';
  src: url("/fonts/ubuntubold-webfont.eot");
  src: url("/fonts/ubuntubold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ubuntubold-webfont.woff2") format("woff2"), url("/fonts/ubuntubold-webfont.woff") format("woff"), url("/fonts/ubuntubold-webfont.ttf") format("truetype"), url("/fonts/ubuntubold-webfont.svg#ubuntubold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubunturegular';
  src: url("/fonts/ubuntu-webfont.eot");
  src: url("/fonts/ubuntu-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ubuntu-webfont.woff2") format("woff2"), url("/fonts/ubuntu-webfont.woff") format("woff"), url("/fonts/ubuntu-webfont.ttf") format("truetype"), url("/fonts/ubuntu-webfont.svg#ubunturegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("/fonts/ubuntulight-webfont.eot");
  src: url("/fonts/ubuntulight-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ubuntulight-webfont.woff2") format("woff2"), url("/fonts/ubuntulight-webfont.woff") format("woff"), url("/fonts/ubuntulight-webfont.ttf") format("truetype"), url("/fonts/ubuntulight-webfont.svg#ubuntulight") format("svg");
  font-weight: normal;
  font-style: normal; }
/* #Text shadow default effects ------------------------------------------------------------- */
/* #Page Typography ------------------------------------------------------------------------ */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Lucida Grande", sans-serif;
  color: #777777; }

a {
  color: #93979D;
  text-decoration: underline;
  outline: 0;
  font-size: 0.8rem; }

a:hover, a:focus {
  color: #F1835B;
  text-decoration: none; }

p a, p a:visited {
  line-height: inherit; }

a.selected {
  color: #F1835B; }

h1, h2, h3, h4, h5, h6 {
  color: #383A3D;
  font-family: ubunturegular, sanspro, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal; }

.pageheading {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0 0px 0;
  margin: 0 0 20px 0;
  overflow: hidden; }

.pagesubheading {
  font-weight: normal;
  font-size: 1rem; }

.form-group {
  margin-bottom: 2.5641%; }

textarea,
input,
select {
  -webkit-user-select: auto !important;
  border: 1px solid #F6F6F6;
  color: #484244;
  padding: 9.4px 5px;
  text-indent: 7px;
  margin: 5px auto;
  -webkit-appearance: none;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: none;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  textarea:-moz-placeholder,
  input:-moz-placeholder,
  select:-moz-placeholder {
    color: #c3c3c3; }
  textarea::-webkit-input-placeholder,
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #c3c3c3; }
  textarea.placeholder,
  input.placeholder,
  select.placeholder {
    color: #c3c3c3; }
  .control-group.focus textarea, textarea:focus, .control-group.focus
  input,
  input:focus, .control-group.focus
  select,
  select:focus {
    border-color: #424447;
    box-shadow: none; }
  .row-fluid textarea, .row-fluid
  input, .row-fluid
  select {
    height: 41px;
    width: 100%; }
  textarea.flat,
  input.flat,
  select.flat {
    border-color: transparent; }
    textarea.flat:hover,
    input.flat:hover,
    select.flat:hover {
      border-color: #424447; }
    textarea.flat:focus,
    input.flat:focus,
    select.flat:focus {
      border-color: #424447; }
  textarea.error, .submitted textarea.ng-invalid,
  input.error, .submitted
  input.ng-invalid,
  select.error, .submitted
  select.ng-invalid {
    border-color: #e74c3c;
    color: #e74c3c;
    box-shadow: none; }
    textarea.error:focus, .submitted textarea.ng-invalid:focus,
    input.error:focus, .submitted
    input.ng-invalid:focus,
    select.error:focus, .submitted
    select.ng-invalid:focus {
      box-shadow: none; }
  textarea.success,
  input.success,
  select.success {
    border-color: #86C555;
    color: #86C555;
    box-shadow: none; }
    textarea.success:focus,
    input.success:focus,
    select.success:focus {
      box-shadow: none; }
  textarea.warning,
  input.warning,
  select.warning {
    border-color: #f1c40f;
    color: #f1c40f;
    box-shadow: none; }
    textarea.warning:focus,
    input.warning:focus,
    select.warning:focus {
      box-shadow: none; }
  .control-group.info textarea, .control-group.info
  input, .control-group.info
  select {
    border-color: #3498db;
    color: #3498db;
    box-shadow: none; }
    .control-group.info textarea:focus, .control-group.info
    input:focus, .control-group.info
    select:focus {
      box-shadow: none; }

label.error, label.error a {
  border-color: #e74c3c;
  color: #e74c3c;
  box-shadow: none; }
  label.error:focus, label.error a:focus {
    box-shadow: none; }

.control-group {
  position: relative; }
  .control-group label {
    font-size: .8em; }
    .control-group label.error, .control-group label.error a {
      border-color: #e74c3c;
      color: #e74c3c;
      box-shadow: none; }
      .control-group label.error:focus, .control-group label.error a:focus {
        box-shadow: none; }
  .control-group > .input-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 37px;
    vertical-align: middle;
    color: #eaeaea;
    background-color: #ffffff;
    padding: 0 10px;
    border-radius: 6px; }
  .control-group input:focus + .input-icon {
    color: #777777; }
  .control-group.huge > .input-icon {
    line-height: 49px; }
  .control-group.large > .input-icon {
    line-height: 41px; }
  .control-group.small > .input-icon {
    line-height: 30px; }
  .control-group.success > .input-icon, .control-group.success input + .input-icon {
    color: #86C555; }
  .control-group.warning > .input-icon, .control-group.warning input + .input-icon {
    color: #f1c40f; }
  .control-group.error > .input-icon, .control-group.error input + .input-icon {
    color: #e74c3c; }
  .control-group.disabled > .input-icon, .control-group.disabled input + .input-icon {
    color: #d3d5d7;
    background-color: #f4f4f5; }

input[disabled],
textarea[disabled],
select[disabled],
textarea[readonly] {
  background-color: #f4f4f5;
  border-color: #d3d5d7;
  color: #d3d5d7;
  cursor: default; }

.btn, button {
  padding: 0px 0px;
  font: 300 12px/15px "Ubuntu", sans-serif;
  color: #383A3D;
  background: none;
  border: none;
  white-space: normal;
  text-transform: uppercase;
  letter-spacing: -1px;
  cursor: pointer; }
  .btn:hover, button:hover {
    color: #F1835B; }

textarea {
  height: auto;
  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0; }
  .row-fluid textarea {
    height: auto;
    width: 100% !important; }

select {
  padding-left: 0;
  color: #424447;
  text-indent: 3px; }

input[type=checkbox] {
  padding: 6px;
  display: inline-block;
  vertical-align: middle; }
  input[type=checkbox]:checked {
    background: #000; }

/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr; }
  .royalSlider img {
    width: 100%; }

.royalSlider > * {
  float: left; }

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0); }

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden; }

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none; }

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0; }

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

.rsArrow,
.rsThumbsArrow {
  cursor: pointer; }

.rsThumb {
  float: left;
  position: relative; }

.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center; }

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none; }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

.rsPreloader {
  position: absolute;
  z-index: 0; }

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22; }

.rsTabs {
  float: left;
  background: none !important; }

.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative; }

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s; }

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1; }

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px; }

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15; }

img.rsImg {
  max-width: none; }

.grab-cursor {
  cursor: url(/img/icons/grab.png) 8 8, move; }

.grabbing-cursor {
  cursor: url(/img/icons/grabbing.png) 8 8, move; }

.rsNoDrag {
  cursor: auto; }

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(/img/icons/blank.gif); }

/*
==================================================
Table of Contents
==================================================
#Global Settings
	#Generic Styles for Grid
	#Main Styles
		.Shell
	#Navigation
	#Content
	#Footer
	#Page's inports
*/
.none {
  display: none !important; }

.left {
  float: left; }

.right {
  float: right; }

.containers {
  margin: 0 auto;
  width: 1140px; }

.row {
  overflow: hidden; }

/* #Main Styles ------------------------------------------------------------------------ */
body {
  display: block; }

/* #Navigation ------------------------------------------------------------------------ */
header {
  font-size: .71rem;
  text-transform: uppercase; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header .topNav {
    display: block;
    margin: 0 auto;
    width: 1140px;
    overflow: hidden; }
    header .topNav .left {
      margin-left: 20px; }
    header .topNav a {
      color: #93979D;
      font-size: .7rem;
      line-height: 28px;
      text-decoration: none;
      margin-right: 20px; }
      header .topNav a:last-child {
        margin-right: 0; }
  header nav {
    background: #484244;
    font-size: .75rem;
    overflow: hidden; }
    header nav .navContainer {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 1140px;
      overflow: hidden; }
      header nav .navContainer .logocontain {
        width: 40.67797%;
        float: left;
        margin-right: 1.69492%; }
      header nav .navContainer .navlinks {
        text-align: right; }
        header nav .navContainer .navlinks a:last-child {
          margin-right: 0; }
      header nav .navContainer a {
        margin-right: 20px;
        line-height: 120px;
        text-decoration: none;
        color: #FFF;
        font-size: .8rem; }
        header nav .navContainer a:hover, header nav .navContainer a.active {
          color: #a8f9297; }
      header nav .navContainer .logo {
        text-transform: capitalize;
        background-image: url(/img/bdg/large_f960e61575e8cc726aa83b8da4cb499b.png);
        background-size: 24%;
        background-repeat: no-repeat;
        display: block;
        height: 100px;
        width: auto;
        margin-top: 10px;
        line-height: 110px;
        padding-left: 110px;
        font-size: 2.4rem;
        font-family: maysFont; }
        header nav .navContainer .logo:hover {
          color: #FFF; }
  header .confirmShell {
    margin: 0 auto;
    width: 1140px;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px; }
    header .confirmShell .search {
      display: inline;
      margin-right: 1.69492%; }
      header .confirmShell .search input {
        border-radius: 4px 0 0 4px; }
      header .confirmShell .search button {
        line-height: 2rem;
        border-radius: 0 4px 4px 0;
        border: #F6F6F6 1px solid;
        background: #F6F6F6;
        color: #484244;
        cursor: pointer; }
    header .confirmShell .confirmBox {
      display: inline-block;
      background: #F1835B;
      color: #FFF;
      line-height: 2rem;
      padding: 3px 0 3px 10px;
      border-radius: 5px;
      cursor: pointer; }
      header .confirmShell .confirmBox i {
        padding: 5px 10px 5px 50px; }

/* #Content ------------------------------------------------------------------------ */
.content {
  width: 1140px;
  margin-bottom: 1.69492%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .content:after {
    content: " ";
    display: block;
    clear: both; }
  .content .boxarea {
    background-color: #F6F6F6;
    padding: 1.69492% 1.44928%; }
    .content .boxarea input {
      width: 100%; }

.sidebarShell {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }

.pageContent {
  width: 74.57627%;
  float: right;
  margin-right: 0; }

/* #Footer ------------------------------------------------------------------------ */
footer {
  background-color: #484244;
  padding-bottom: 20px;
  overflow: hidden;
  color: #93979D; }
  footer a {
    text-decoration: none; }
  footer h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #EDEEEE;
    text-align: left; }
  footer > div {
    margin: 0 auto;
    width: 1140px;
    overflow: hidden; }
  footer .footerGrid > li {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%; }
    footer .footerGrid > li li {
      display: block;
      margin-bottom: 10px; }
    footer .footerGrid > li a {
      color: #93979D;
      font-size: .9rem; }
      footer .footerGrid > li a:hover {
        color: #F1835B; }
  footer .info {
    margin-top: 80px; }

#__bs_notify__ {
  pointer-events: none;
  opacity: .7; }

/*# sourceMappingURL=style.css.map */
