mixin tideBox(data, width)
    .tidebox
        .time
            | #{data.ttime.substr(0, 5)}
        if typeof data.height === typeof undefined
            | No Data
        else
            .tides
                if data.height > 3.5
                    i(class='icon-tide')
                i(class='icon-tide')
                span
                if data.height > 3.5
                    | HIGH
                else
                    | LOW
            .height
                | #{data.height}m