mixin tideBox(data, width)
    -   c(data);
    .tidebox
        .time
            | #{data.$}
        if typeof data.Wh === typeof undefined
            | No Data
        else
            .tides
                if data.Wh > 3.5
                    i(class='icon-tide')
                i(class='icon-tide')
                span
                if data.Wh > 3.5
                    | HIGH
                else
                    | LOW
            .height
                | #{data.Wh}m