mixin tideBox(data, width)
    .tidebox
        .time
            | #{readingtime}
        if typeof waveheight === typeof undefined
            | No Data
        else
            .tides
                if waveheight > 3.5
                    i(class='icon-tide')
                i(class='icon-tide')
                span
                if waveheight > 3.5
                    | HIGH
                else
                    | LOW
            .height
                | #{waveheight}m