mixin tideBox(data)
    .tideBoxes
        .tideBox
            .time
                | 00:15
            .tides
                i(class='icon-waves')
                span LOW
            .height
                | 1.67m