include ../mixins
- var uname = 'jamie@hutber.com', pword = 'jadwiga';
- if(RN.glb.url.envioment!=="localApp"){
-  uname = null;
-  pword = null;
- }
form.loginForm
   img(src='img/logo.png').logo
   +input({place:'USERNAME', type: 'text', value:uname, name:'email'})
   +input({place:'PASSWORD', type: 'password', value:pword, name:'pword'})
   a(href='#forgotten').forgotten Forgot password?
   +button({value:'SIGN IN', class:['signin']})
   .box.createaccount
      a(href='#signup') Create New Account
   .imagesBottom
      //div.lifeboat
      div.respect