include ../mixins
form.loginForm
   +input({place:'USERNAME', type: 'text', value:'jamie@hutber.com', name:'email'})
   +input({place:'PASSWORD', type: 'password', value:'jadwiga', name:'pword'})
   +button({value:'Login', class:['']})
   p or
   a(href='#signup') Create New Account