include ../mixins
form(action="#{RN.glb.url.ajax}users/reg", class="signupForm ajax")
    +input({place:'First name', type: 'text', name:"fname", value:'jamie'})
    +input({place:'Surname', type: 'text', name: "sname", value:'hutber'})
    +input({place:'Email address', type: 'text', name: "email", value:'jamie@hutber.com'})
    +input({place:'Create password', type: 'text', name: "pw", value:'jadwiga'})
    +input({place:'Confirm password', type: 'text', name: "cpw", value:'jadwiga'})
    +button({value:'Save', class:['signup', 'btn']})