include ../mixins
form(action="")
    +input({place:'First name', type: 'text', value:'', class:[]})
    +input({place:'Surname', type: 'text', value:'', class:[]})
    +input({place:'email address', type: 'text', value:'', class:[]})
    +input({place:'Create password', type: 'text', value:'', class:[]})
    +input({place:'Confirm password', type: 'text', value:'', class:[]})
    +button({value:'Save'})