include ../mixins
form(action="#{RN.glb.url.ajax}users/reg", class="signupForm ajax")
    h3  Personal Details
    +input({place:'First name', type: 'text', name:"fname"})
    +input({place:'Surname', type: 'text', name: "sname"})
    +input({place:'Email address', type: 'text', name: "email"})
    +input({place:'Create password', type: 'password', name: "pw"})
    +input({place:'Confirm password', type: 'password', name: "cpw"})
    +input({ type: 'checkbox',value: 1, name: "contacted", id :"contacted", labelClass: 'checkbox', text: 'If you are not happy to be contacted by email about the app untick this box', checked: "checked"})
    +input({ type: 'checkbox',value: 1, name: "receiveemails", id :"receiveemails", labelClass: 'checkbox', text: 'If you are happy to receive emails from the RNLI, please tick this box'})
    +button({value:'Save', class:['signup', 'btn']})
    .termsbox
        a(href='#terms') Terms of service
        a(href='#privacy') Privacy policy
    +input({type: 'hidden', value:RN.glb.device, name:'device'})
    +input({type: 'hidden', value:RN.glb.version, name:'version'})