include ../mixins
form(action="#{RN.glb.url.ajax}users/reg", class="signupForm ajax")
    h3  Peronsal Details
    +input({place:'First name', type: 'text', name:"fname"})
    +input({place:'Surname', type: 'text', name: "sname"})
    +input({place:'Email address', type: 'text', name: "email"})
    +input({place:'Create password', type: 'password', name: "pw"})
    +input({place:'Confirm password', type: 'password', name: "cpw"})
    +input({ type: 'checkbox',value: 1, name: "acc_tc", id :"acc_tc", labelClass: 'checkbox', text: 'Tick to agree to our Terms of service'})
    +button({value:'Save', class:['signup', 'btn']})
    .termsbox
        a(href='#terms') Terms of service
        a(href='#privacy') Privacy policy
    +input({type: 'hidden', value:RN.glb.device, name:'device'})
    +input({type: 'hidden', value:RN.glb.version, name:'version'})