//
   Created by Hutber on 10/02/2015.
include mixins
.landingpage
   a(href='#trips').trips
      div
         i(class='icon-calendar')
         span MY TRIPS
         i(class='icon-right-open')
   a(href='#weather').weather
      div
         i(class='icon-calendar')
         span Weather Center
         i(class='icon-right-open')
   a(href='#safety').safety
      div
         i(class='icon-calendar')
         span Safety Tips
         i(class='icon-right-open')
   a(href='#catch').catch
      div
         i(class='icon-calendar')
         span Catch Log
         i(class='icon-right-open')