include ./mixins
.header
    .left(onclick="window.history.back()")
        .icon-left-open
    .middle
        h1 Title
    .right
        .save save
.content
    | Default State
.footer
    a(href='#home') HOME
    a(href='#profile') MY PROFILE
    a(href='#abouthome') ABOUT
    a(href='#settings') SETTINGS
    a(href='#logou', onclick="RN.fnc.login.doLogOut();") LG