<link rel="stylesheet" type="text/css" href="<?php echo HTTP; ?>/css/404.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo HTTP; ?>/css/home.css"/>
<div id="shellContent">
    <form id="question-shell" action="/vote" method="post">
        <button class="question" name="answer" value="1" id="q1">
            <span>You're on a page.<br>But this page doesn't exist... Hang on this makes no sense</span>
        </button>
        <div id="or"><?php echo $javascript; ?></div>
        <button class="question" name="answer" value="2" id="q2">
            <span>Does it........</span>
        </button>
        <input type="hidden" value="0" name="question">
        <noscript><input type="hidden" value="1" name="nojs"></noscript>
    </form>
    <br style="clear: both;">
</div>