mixin locationFinders(data)
   .location(class=data.topClass)
      h3 CURRENT LOCATION?
      .locationSelector
         .yes YES
         .no.selected NO
      br
      .postcodeform
         +input({id: 'favourite', place: 'Choose save location', type: 'text', name: 'favlocations', autocomplete: 'off'})
         h3 OR
         +input({id: 'postcode', place: 'Post Code', type: 'text', name: 'postcode', icon: 'search', autocomplete: 'off'})
      .postcodearea