mixin tempChart(data)
    .tempchart.section
        .icon
            i(class='icon-temperatire')
            hw TEMPERATURE
        .temps
            each val, index in RN.weather.get('weatherDetails')['3hourWeather']
                +tempBox(val, index)
