
@font-face {
  font-family: 'DINOffc-Bold';
  src: url('DINOffc-Bold.eot?#iefix') format('embedded-opentype'),  url('DINOffc-Bold.woff') format('woff'), url('DINOffc-Bold.ttf')  format('truetype'), url('DINOffc-Bold.svg#DINOffc-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
