// -
   Created by Hutber on 18/03/2015.
- var hazardCopy = RN.currentTrip.get('hazard');
- if(hazardCopy === null) hazardCopy = '';
h4 Save hazards here for next time you fish in this location.
textarea(placeholder="Log your hazard here..", id="hazardtext") #{hazardCopy}