Welcome to the RNLI's Track My Catch App! Great to have you on board!

Designed and built for coastal anglers, this app lets you live track each fishing trip; where you go, what you catch, and keeps you aware of any safety risks you might encounter in the UK.

    · Check for safe weather conditions across both favourite and new fishing spots.
    · Use our GPS tracker to live track your fishing trip on the go while adding notes and hazards along the way.
    · Record all of your catches in one place using our catch log (and share them if you want to!).
    · Keep your loved ones aware of where you are using our unique safety net function.
    · Get your top 10 coastal angling safety tips from RNLI coastal safety experts.

and don't forget to give us feedback - we need your help to make the next version of Track my Catch even better.

Be safe out there – wear a lifejacket.