@import "susy";

/* #Config ------------------------------------------------------------------------ */
//$total-columns: 12;
//$column-width: 4em;
//$gutter-width: 1em;
//$grid-padding: 1em;
$global-width: 1140px;

$susy: (
	global-box-sizing: border-box,
	use-custom: (rem: true),
	columns: 12,
	gutters: 1/4,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	)
);

//@include border-box-sizing;
//
///* #Imports dependencies ------------------------------------------------------------------------ */
@import
"_reset",
"_fontello",
"_mixins",
"_variables",
"_typography",
"modules/_forms",
"modules/_input",
"modules/_touchcarousel";

/*
==================================================
Table of Contents
==================================================
#Global Settings
	#Footer
	#Page's inports
*/

.none {display: none !important}
.left {float: left}
.right {float: right}
.containers { margin: 0 auto; width: $global-width;}
.row {@include clear;}

/* #Main Styles ------------------------------------------------------------------------ */
body {
	display: block;
	background: #000;
}
