include ./mixin/contact
include ./mixin/note
include ./mixin/catchFish
include ./mixin/rating

//- #Location ------------------------------------------------------- */
include ./location/locationFinders
include ./location/tripInfo
include ./location/map
include ./location/tripdetails
include ./location/tempChart

//- #Share Boxes ---------------------------------------------------- */
include ./boxes/postcodebox
include ./boxes/box
include ./boxes/plusbox
include ./boxes/catchBox
include ./boxes/tripBox
include ./boxes/shareBox
include ./boxes/tempBox
include ./boxes/catchFishInfo