mixin selectInt(data)
    select()&attributes(data.attr).control-group
        option(value=-1) -
        - var selectedLbs = data.selected || -1;
        - for (var i = 0; i < data.limit; i++)
        if(selectedLbs === i)
            option(selected, value= i) #{i}#{data.attr.name}
        else
            option(value= i) #{i}#{data.attr.name}