<div>
	<%= JST['templates/comp/logo.ejs']() %>
	<p>Enter your email address below to request a password reset</p>
	<form id="forgotten" name="forgotten" method="post" action="">
		<input name="email" type="email" id="email" size="50" placeholder="The email address please"/>
		<button class="btn" type="submit">SUBMIT</button>
	</form>
	<div class="bottomnavigation">
		<a href="#selector">SIGN IN</a>
		<a href="#signup">NOT REGISTERED?</a>
	</div>
</div>