h3 Don't be an amateur – wear a lifejacket!
p An expert panel found that over the last 5 years, 45 anglers who lost their lives in the UK might have been saved had they been wearing lifejackets.
p Wearing a lifejacket is a simple and easy thing to do. Lifejacket design has come a long way in recent years, so you can still fish with complete freedom and manoeuvrability.
p Usually there's a low risk of falling into the water when you're shore angling. But when you're fishing from rocks or areas of exposed shoreline, the risks are much higher – especially in heavy surf
p Protect yourself and be free to enjoy your sport. Don’t be an amateur – wear a lifejacket.
p Find out more at
   a(href='http://www.rnli.org/respectthewater') nli.org/respectthewater
   | .