h3 Carry a means of calling for help and know how to use it.
p Finding that perfect, secret spot away from everyone appeals to many anglers. But if you slip, trip or fall into the water, it's essential that you have a way to call for help.
p It depends on where you are and where you plan to go, but there are lots of options. They include keeping a mobile phone in a waterproof case, carrying a handheld VHF radio or having a personal locator beacon in your jacket pocket. These are now available at a low price. And learn how to use them, so you’re prepared for an emergency.
p Remember, if it isn’t on you and you end up in the water, you won’t be able to call for help!