h3 Be aware of heavy surf if fishing from the rocks or exposed shoreline.
p 70% of shore angling fatalities involved people being swept into the sea by waves.
p For many, shore angling in heavy surf is part of the buzz of the sport, but it requires expert preparation and caution. With the average sea temperature in the UK at just 12⁰C, there is a high risk of cold water shock – your body’s uncontrollable reaction to cold water. Your heart rate increases and your breathing gets shallow and rapid. It only lasts a few minutes, but if you are not wearing a lifejacket, things can get serious fast.
p Don’t be an amateur – wear a lifejacket.
.image(data-src="about_rocks.jpg")
