@import
	"user/_signup",
	"user/_profile",
	"_trips",
	"_landing";
/* Table of Contents
/* Page is used to import all of the different pages settings
==================================================
    #Header
*/
.header {
	background: $trips;
	.weather & {
		background: $weather;
	}
	.safety & {
		background: $safety;
	}
	.catch & {
		background: $catch;
	}
	.profile & {
		background: $mainBlue;
		color: #FFF;
		.middle h1 {
			color: #ffffff;
		}
	}
}