.locationSelector {
	width: 80%;
	margin: 0 auto;
	border: 2px solid $mainBlue;
	border-radius: 3px;
	@include clear;
	> div {
		width: 50%;
		float: left;
		text-align: center;
		padding: 6px 3px;
		line-height: 2rem;
		cursor: pointer;
		font-family: $headerFont;
		color: $mainBlue;
		&.selected {
			background: $mainBlue;
			color: #FFF;
		}
	}
}