/*
==================================================
Table of Contents
==================================================
#Global Settings
	#Header Settings
	#Trip Boxes

#Components
	#Trip map

#Pages
	#Create Trip
	#Catch

#Footer Settings

*/

/*===============  Global Settings ===============
///* #Header Settings ------------------------------------------------------------------------ */
	.addnotes {
		form {
			height: 100%;
		}
		a.headerbutton.savenote {
			display: block;
		}
	}

	.trips {
		a.headerbutton.addtrip {
			display: block;
		}
	}

	.tripcatch {
		a.headerbutton.addcatch {
			display: block;
		}
	}
	.addcatch {
		a.headerbutton.nextcatch {
			display: block;
		}
	}
	.confirmcatch {
		a.headerbutton.savecatch {
			display: block;
		}
	}

	.underHeader {
		background: $tripsDarker;
		@include clear;
		color: #FFF;
	}

/*===============  Components ===============
///* #Wind Direction Arrows ----------------------------------------------------------- */
.icon-right-circled {
	&.N {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	&.NE {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	&.SE {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&.S {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	&.SW {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	&.W {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	&.NW {
		-webkit-transform: rotate(235deg);
		transform: rotate(235deg);
	}
}
///* #Trip Map ------------------------------------------------------------------------ */
.tripMap {
	.section {
		color: $mainBlue;
		text-align: center;
		border-bottom: 3px solid $border;
		@include clear;
	}

	.tide, .springtide {
		display: none;
	}

	.notide {
		background: $border;
	}

	.titeInfo.notide {
		background: #E7ECE9;
		font-size: 1.3rem;
		line-height: 1.4rem;
		font-family: arial, helvetica, sans-serif;
		padding: 1rem 4.5rem;
	}

	.map {
		position: relative;
		.info {
			width: 100%;
			font-size: .8rem;
			line-height: 1.6rem;
			background: rgba(254, 255, 255, 0.85);
			position: absolute;
			bottom: 0;
			z-index: 3;
			color: $mainBlue;
		}

		#map-canvas.bigmap {
			height: 330px !important;
		}
		
		.wind {
			@include span(4 of 12);
		}
		.current {
			color: darken($success, 20%);
			@include span(4 of 12);
		}
		.enlargetrip {
			cursor: pointer;
			text-align: right;
			padding-right: 15px;
			@include span(4 of 12 last);
		}

		#map-canvas {

		}
	}

	.tideInfo {
		margin: 0 auto;
		overflow: hidden;
		.tideoverflow {
			overflow-x: auto;
		}

	}

	.nodata {
		//		display: none;
	}

	.start {

	}

	.endtrip, .savetrip {
		display: none;
	}

	//* #Air Sea -------------------------------- */
	.airsea {
		background: $border;
		border-top: 3px solid $border;
		.air, .sea {
			width: 49.5%;
			float: left;
			text-align: center;
			background: $greyAlt;
		}
		.info {
			font-family: $headerFont;
			font-size: 2.2rem;
			padding: 10px 0 15px;
			span {
				font-family: inherit;
				font-size: 1.6rem;
			}
		}
		.icon {
			text-align: left;
			padding: 15px 5px 0 10px;
		}
		.air {
			margin-right: 0;
			padding-right: 1%;
		}
		.sea {
			float: right;
			position: relative;
			&.danger {
				color: #FFF;
				background: $danger;
				.dangertext {
					display: block;
				}
			}
			.dangertext {
				display: none;
				font-size: .6rem;
				position: absolute;
				top: 10px;
				right: 10px;
				i {
					color: $warning;font-size: 1.4rem;
				}
			}
		}
	}

	//* #Tide Info -------------------------------- */
	.tide {
		font-family: $headerFont;
		 .title {
			 line-height: 2.8rem;
			font-family: $headerFont;
		}
		.tides {
			font-size: 0.8rem;
			margin-bottom: 15px;
			i {
				color: $grey;
			}
			span {
				margin-top: 3px;
				display: block;
			}
		}
		.time {
			margin-bottom: 10px;
			font-family: $headerFont;
		}
	}

	//* #Next Spring Tide -------------------------------- */
	.springtide {
		background: $border;
		color: $mainBlue;
		font-size: 1.4rem;
		line-height: 3.2rem;
		span {
			margin-left: 5px;
			font-family: $headerFont;
		}
	}

	//* #Wind Current  -------------------------------- */
	.windcurrent {
		color: #FFF;
		background: $border;
		.wind, .current {
			padding: 10px;
			text-align: center;
			width: 49.5%;
			float: left;
			height: 130px;
		}
		.wind {
			margin-right: 0;
			background: $wind;
			padding-right: 1%;
			text-align: left;
		}
		.current {
			position: relative;
			background: $current;
			float: right;
			.icon {
				position: absolute;
				top: 10px;
				left: 5px;
			}
			.info {
				@include valign;
			}
		}
		i {
			font-size: 1.2rem;
		}
		.icon {
			text-align: left;
			margin-bottom: 10px;
		}
		.info {
			i {
				font-size: 2.6rem;
				@include span (2 of 6);
			}
			& > span {
				font-size: 2.1rem;
				font-family: $headerFont;
				line-height: 1.8rem;
				@include span (4 of 6 last);
				& span {
					font-size: 1.2rem;
					padding-left: 2px;
					font-family: arial, helvetica, sans-serif;
				}
			}
		}
	}
	//* #Pressue & Swell -------------------------------- */
	.pressure, .swell {
		margin: 15px 0;
		.info {
			font-size: 2rem;
			font-family: $headerFont;
			margin: 10px 0;
			span {
				font-size: 1.5rem;
				font-family: $textFont;
			}
		}
	}

	//* #weather  -------------------------------- */
	.weather & {
		.tripControls, .gpscontrols {
			display: none;
		}
	}
}


/*******************************************
  = RATING
*******************************************/
.rating {
	div.stars {
		width: 270px;
		display: inline-block;
	}

	input.star { display: none; }

	label.star {
		float: right;
		padding: 10px;
		font-size: 36px;
		color: #444;
		transition: all .2s;
	}

	input.star:checked ~ label.star:before {
		content: '\e86a';
		color: $trips;
		transition: all .25s;
	}

	input.star-5:checked ~ label.star:before {
		color: #FE7;
		text-shadow: 0 0 20px #952;
	}

	input.star-1:checked ~ label.star:before { color: #F62; }

	label.star:before {
		content: '\e869';
		font-family: fontello;
	}
}

/*===============  Pages ===============
///* #Create Trip ------------------------------------------------------------------------ */
.createtrip {
	#createname {
		text-transform: capitalize;
	}
	#postcode {
		color: $mainBlue;
		font-size: 1.3rem;
		text-transform: uppercase;
	}
}

///* #Current Trip ------------------------------------------------------------------------ */
.currenttrip {
	.tripControls .btn {
		padding: 25px 20px;
	}
}
///* #Trip Closed  --------------------------------------------------------------------*/
.tripclosed {
	.section {
		border-bottom: none;
	}
}

///* #Catch  ------------------------------------------------------------------------ */
.previouscatch {
	.catchsortby {
		text-align: center;
		background: $catch;
		@include clear;
		span {
			line-height: 1.5rem;
			color: #FFF;
			font-family: $headerFont;
		}
		.sortoptions {
			border-radius: 4px;
			background: #FFF;
			width: 80%;
			margin: 0 auto;
			border: 1px solid #FFF;
			margin-bottom: 10px;
			font-family: $headerFont;
			@include clear;
			div {
				line-height: 2.5rem;
				border-radius: 4px;
				@include span (3 of 12);
				&:last-child {
					@include span (3 of 12 last);
				}
				&.selected {
					background: $catch;
					color: #FFF;
				}
			}
		}
	}
}

///* #Footer Settings ------------------------------------------------------------------------ */
.currenttrip, .addhazard, .notes, .addnotes, .catch, .addcatch, .confirmcatch, .tripcatch {
	.footer {
		display: block;
		height: 65px;
		.tripfooter {
			display: block;
			a {
				display: inline-block;
			}
			i {
				display: block;
				font-size: 1.5rem;
				line-height: 2.1rem;
			}
		}
		.normalfooter {
			display: none;
		}
	}
	textarea {
		height: 80%;
	}
}