.locationSelector {
	width: 80%;
	margin: 0 auto;
	border: 1px solid $mainBlue;
	@include clear;
	> div {
		width: 50%;
		float: left;
		text-align: center;
		padding: 6px 3px;
		cursor: pointer;
		&.selected {
			background: $mainBlue;
		}
	}
}

.tripBox {
	i {
		@include span(2 of 12);
		text-align: center;
	}
	.text {
		@include span(10 of 12 last);
		span {
			font-weight: bold;
		}
	}
}