.weather, .trips {
	select {
		font-family: $headerFont;
		color: $mainBlue;
		font-size: 1.4rem;
		text-align: center;
		option {
			text-align: center;
		}
	}
	.getforcast {
		display: none;
	}
	.tripMap .airsea {
		border-top: none	;
	}
}

.tempchart {
	.icon {
		text-align: center;
		margin: 10px 0;
	}
	i {
		display: inline-block;
	}
}