include ../../mixins
+input({place:'Species', type: 'text', value:'', name:'species', id: 'species', labelClass: "typeahead"})
+switch('weightsystem', 'metric', 'imperial')
.box.catchbox
    .title Weight
    .text
        +selectInt({
            attr: {
                name: 'lbs'
            },
            limit: 50
        })
        +selectInt({
            attr: {
                name: 'oz'
            },
            limit: 50
        })
.box.catchbox
    .title Length
    .text
        +selectInt({
            attr: {
                name: 'ft'
            },
            limit: 8
        })
        +selectInt({
            attr: {
                name: 'in'
            },
            limit: 11
        })

.box.catchbox
    .title Released?
    .text
        +select({
            attr: {
                name: 'released'
            },
            options: {
                1: {
                    value: 'yes',
                    text: 'Yes'
                },
                2: {
                    value: 'no',
                    text: 'No'
                }
            }
        })
.box.large.white.addcatchphoto
    i(class='icon-plus')
    | Add Photo