include ../../mixins
h1 #{species}
if(weightType === "metric")
    +catchBox({
        title: 'Weight',
        info: weight1+'kg '+weight2+'g.'
    })
else
    +catchBox({
        title: 'Weight',
        info: weight1 + 'lbs ' + weight2 + 'oz.'
    })
+catchBox({
    title: 'Length',
    info: height1+'ft. '+height2+'ins.'
})
+catchBox({
    title: 'Released?',
    info: released
})
+sharebox()