include ../mixins
.catchsortby
    span SORT BY
    .sortoptions
        div(data-type="date") DATE
        div(data-type="lbs") WEIGHT
        div(data-type="ft") LENGTH
        div(data-type="species") A-Z
if catches.length > 0 && catches !== null
    .catchlogoverview
        each val, index in catches
            +catchFishInfo(val)
else
    h2  NO CATCHES YET