include ../mixins
.catchsortby
    span SORT BY
    .sortoptions
        div.selected DATE
        div WEIGHT
        div LENGTH
        div A-Z
if RN.user.get('catch') !== null
    each val, index in RN.user.get('catch')
        +catchFish(val)