include ../mixins
+select({
   attr: {
      name: 'date',
      id: 'weatherdate'
   },
   options: date,
   class: ['dateselector']
})
.slideAreaAeather
   +locationFinders({topClass: 'weathercentre'})
+box({class:'large plain getforcast', text:'GET FORCAST'})
.weatherinfo