// -
   Created by Hutber on 18/03/2015.
- var hazardCopy = RN.previousTrip.get('hazard');
- if(hazardCopy === null) hazardCopy = '';
textarea(placeholder="Log your hazard here..", id="hazardtextprevious") #{hazardCopy}