include ../../mixins
+input({place:'Species', type: 'text', value:'', name:'species', id: 'species', labelClass: "typeahead"})
+switch('weightsystem', 'metric', 'imperial')
.metric.none
    .box.catchbox
        .title Weight
        .text
            +selectInt({
                attr: {
                    name: 'kg'
                },
                limit: 3
            })
            +selectInt({
                attr: {
                    name: 'grams'
                },
                limit: 999
            })
    .box.catchbox
        .title Length
        .text
            +selectInt({
                attr: {
                    name: 'm'
                },
                limit: 2
            })
            +selectInt({
                attr: {
                    name: 'cm'
                },
                limit: 99
            })
.imperial
    .box.catchbox
        .title Weight
        .text
            +selectInt({
                attr: {
                    name: 'lbs'
                },
                limit: 50
            })
            +selectInt({
                attr: {
                    name: 'oz'
                },
                limit: 50
            })
    .box.catchbox
        .title Length
        .text
            +selectInt({
                attr: {
                    name: 'ft'
                },
                limit: 8
            })
            +selectInt({
                attr: {
                    name: 'in'
                },
                limit: 11
            })

.box.catchbox
    .title Released?
    .text
        +select({
            attr: {
                name: 'released'
            },
            options: {
                1: {
                    value: 'yes',
                    text: 'Yes'
                },
                2: {
                    value: 'no',
                    text: 'No'
                }
            }
        })
if(image === null)
    .box.large.white.previousaddcatch
        i(class='icon-plus')
        | Add Photo
else
    .photoitemContainer
        img(src='http://' + RN.glb.url.cdn + '/uploads/catch/' + RN.user.get('uid') +'/' + RN.previousTrip.get('tid') + '/'+ image +'.jpg')