mixin sharebox(data, options)
   .sharebox
      .facebook
         .bg
            i(class='icon-facebook')
      .twitter
         .bg
            i(class='icon-twitter')
      .mail
         .bg
            i(class='icon-email')