mixin tempBox(data, index)
   - weatherType = RN.weather.convertWeatherType(data.W);
   .box.tempbox(class= 'weatherType'+data.T)
      if index === 0
         .time NOW
      else
         .time #{data.$ / 60}:00
      .icon
         i(class='icon-cloud')
      span #{data.T}C