h3 Always wear a personal flotation device.
p Whenever you are going afloat, it essential to wear a correctly fitted personal flotation device or buoyancy aid. If you end up in the water, this will keep you afloat and makes it easier to re-enter your kayak by lifting your body higher in the water.
p While an auto or manual inflate lifejacket is an excellent method of keeping you afloat in the water, their bulkiness once inflated makes self-rescue by re-entry quite difficult. They are generally more suited to activities with a low risk of falling in the water such as fishing from a boat or the shore. Find out more at
    a(href='http://www.rnli.org/respectthewater') nli.org/respectthewater
    | .
.image(data-src="about_kayak.jpg")