h3 Check any through hull fittings for leaks and ensure bungs and hatches are tightly secured.
p Prior to going afloat, check that bungs are in tightly and all hatch covers are well secured with a good seal. Taking on water will greatly reduce the stability of your kayak and can quickly lead to capsize.
p Always start a trip with a dry boat and if you notice you are taking on water, get to land or call the Coastguard for help immediately.
.image(data-src="about_donate.jpg")
