include ../mixins
form(action="#{RN.glb.url.ajax}users/reg", class="editForm ajax")
    if(RN.user.get('profileimage') == 0)
        .addprofilephoto
            .photoitems
                i(class='icon-plus-circled')
                | ADD PHOTO
    else
        .photoitemContainer
            img(src='http://'+RN.glb.url.cdn+'/uploads/profile/'+RN.user.get('uid')+'.jpg')
    h3  Peronsal Details
    +input({place:'First name', type: 'text', name:"fname", value:RN.user.get('fname')})
    +input({place:'Surname', type: 'text', name: "sname", value:RN.user.get('sname')})
    +input({place:'Email address', type: 'text', name: "email", value:RN.user.get('email')})
    +input({place:'Create password', type: 'password', name: "pw"})
    +input({place:'Confirm password', type: 'password', name: "cpw"})
    +input({place:'Phone Number', type: 'text', name: "pnumber", value:RN.user.get('pnumber')})
    +input({place:'Preferred type of fishing', type: 'text', name: "fishingtype", id: 'fishingtype', value:RN.user.get('fishingtype')})
    +input({type: 'hidden', value:RN.glb.device, name:'device'})
    +input({type: 'hidden', value:RN.glb.version, name:'version'})
    h3.econtact SAFETY NET
        i(class='icon-info-circled-alt')
    if RN.user.get('contacts') !== 'null'
        each val, index in RN.user.get('contacts')
            +contact({name:val.name,id:val.id,number:val.number, pos: index+1})
    +plusbox({text:'Add Another Contact', class: ['large','white', 'addEcontact']})
    h3 My Favourite Locations
        i(class='icon-info-circled-alt')
    +box({class:['large','white'], text:'When you create a trip you will have the option of saving it.'})
    +button({value: 'Save', class: ['signup', 'btn']})
    +input({type: 'hidden', value:RN.user.get("token"), name:'token'})