img(src='img/about_head.jpg', width="100%")
.aboutContent
    h3 ABOUT THE RNLI
    p The Royal National Lifeboat Institution is the charity that saves lives at sea. Since the RNLI was founded in 1824, our lifesaving service has saved more than 140,000 lives.
    p We operate 237 lifeboat stations in the UK and Republic of Ireland, all year round. In 2014 our volunteer crews launched 8,462 times and rescued 8,727 people: an average of 24 people a day. They also saved 368 lives.
    p RNLI lifeguards patrol over 200 of the busiest beaches. They are professional lifesavers, well-equipped and highly-trained. They carry out rescues but also spend time advising beach users on how to stay safe. In 2014, 783 casualties helped by the RNLI were from fishing vessels. Find out more at
          a(onclick='window.open("http://www.rnli.org","_system", "location=yes")' href='javascript:void(0)') RNLI.org