img(src='img/about_contact.jpg', width="100%")
.aboutContent
    h3  RNLI,
    h3 West Quay Road,
    h3 Poole,
    h3 BH15 1HZ
    .contactDeail
        .title
            h3 UK telephone
        .details
            ul
                li 0845 122 6999
                li Mon - Fri 8am-6pm
    .contactDeail
        .title
            h3 Roi telephone
        .details
            ul
                li 1 800 911 802
                li Mon - Fri 8am-6pm
    .contactDeail
        .title
            h3 email
        .details
            ul
                li rnli@email.com