//
   Created by Hutber on 16/03/2015.
img(src='img/about.jpg', width="100%")
.urls
   a(href='#about') About RNLI
   a(onclick='window.open("http://goo.gl/BE0fLn","_system", "location=yes")' href='javascript:void(0)') Donate
   a(onclick='window.open("https://rnli.org/Contact-us1/Pages/Contact-us.aspx?tab=General-enquiry","_system", "location=yes")' href='javascript:void(0)') Contact RNLI
   a(href='#legal') Legal Disclaimer
   a(href='#rate') Rate this app
   a(href='#share') Share this app
   a(href='#terms') Terms of service
   a(href='#privacy') Privacy Policy