//
   Created by Hutber on 16/03/2015.
img(src='img/about.jpg', width="100%")
.urls
   a(href='#about') About RNLI
   a(href='#donate') Donate
   a(href='#contact') Contact RNLI
   a(href='#legal') Legal Disclaimer
   a(href='#rate') Rate this app
   a(href='#share') Share this app
   a(href='#terms') Terms of service
   a(href='#privacy') Privacy Policy