P The data and information contained in this app is provided for information purposes only.
P The RNLI uses reasonable effort to ensure that all information contained in this app is accurate and up to date.
P Information can change at short notice and in some cases we are reliant on a third party to provide information; therefore we cannot guarantee the accuracy of the information provided.
P The RNLI does not assume any liability or give any warranty of any kind for the information and data contained or omitted from this app or for any action or inaction made in reliance thereon.