p The RNLI takes the privacy of its members and supporters very seriously and is committed to protecting your privacy online.
p In this Policy references to the RNLI or to ‘we’ or ‘us’ are to the RNLI a charity registered in England and Wales (209603) and Scotland (SC037736) and with charity number CHY 2678 in the Republic of Ireland and to the RNLI’s trading companies, RNLI (Sales) Ltd (company number 2202240) and RNLI (Enterprises) Ltd (company number 1784500), all of West Quay Road, Poole, Dorset BH15 1HZ. A link to this Policy is available from all websites which it applies to.
p This Policy explains the privacy and the data protection practices in connection with:
ul
   li all websites and apps operated by the RNLI and the RNLI’s social media pages
   li the RNLI’s use of emails and text messaging which we send to our supporters and customers
   li ie how we collect information, what we do with it and what controls you have
p Collecting personal information is necessary if we are to satisfy the expectations and requirements of our users and supporters and to promote our aims, eg by communicating with you and providing an interactive service.
